$font-family: (
  'regular': 400,
  'black': 900,
  'bold': 700,
  'semibold': 600,
  'medium': 500,
  'light': 300,
  'extraLight': 200,
);
$border-radius: (6 8 10 12 16 20);
$font-size: (
  'regular': (
    10,
    12,
    14,
    16,
    18,
    20,
    24,
    36,
  ),
  'black': (96 , 60 , 48 , 128 , 64),
  'bold': (36 , 48 , 24 , 12 , 10 , 16),
  'semibold': (
    12,
    14,
    18,
    36,
    24,
    16,
    64,
    48,
    40,
    32,
    20
  ),
  'medium': (
    12,
    14,
    16,
    18,
    20,
    24,
    28,
    36,
    48
  ),
  'light': (),
  'extraLight': (),
);
